    :root {
        --very-light-pink: #c7c7c7;
        --text-input-field: #f7f7f7;
        --hospital-green: #acd9b2;
        --white: #ffffff;
        --black: #000000;
        --sm: 14px; 
        --md:16px;
        --lg:18px;
    }
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body {
        width: 100vw;
        height: 100vh;
    }
    .header-nav{
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border: 2px solid var(--hospital-green);
    }
    .header-nav img {
        width: 80px;
        padding-left: 5px;
        margin-top: 6px;
    }
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    .facagol{
        color: var(--black);
        font-size: 40px;
        font-weight: bold;
    }
    .usuario a{
        color: var(--white);
        background: #13a4a4;   
        border-radius: 2px;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
    }
    main {
        width: auto;
        height: 85vh;
    }
    main img {
        width: 100%;
        height: 85vh;
    }
    .texto1{
        color: white;
        font-size: 70px;       
        position: absolute;        
        top: 200px;
        left: 31%;
    }
    .texto2{
        color: white;
        font-size: 70px;       
        position: absolute;        
        top: 270px;
        left: 32%;
    }
    button{
        background-color: var(--hospital-green);
        border-radius: 8px;
        border: none;
        color: var(--white);
        height: 40px;
        width: 100px;
        cursor: pointer;
        font-size: var(--lg);
        font-weight: bold;
        display: inline-block;
        position: absolute;
        top: 450px;
        left: 46%;
    }
    footer {
        width: auto;
        font-size: var(--lg);
        font-weight: bold;
        text-align: center;
        margin: 4px;
    }